---
import { getCollection } from 'astro:content';
import MainProfilePageLayout from '../../layouts/MainProfilePageLayout.astro';
import {generateSlug} from '../../utils/utils.js'
import { Image } from 'astro:assets';


export async function getStaticPaths() {
    // const allProfiles = await Astro.glob('../../content/about/*.md');
    // return allProfiles.map(profile => ({
    //     params: {slug: slugify(profile.data.name)},
    //     props: { profile },
    // }))

  const profiles = await getCollection('about');
  return profiles.map((profile,index) => ({
    params: { slug: generateSlug(profile.data.name,index+1) },
    props: { profile },
  }));
}

const { slug } = Astro.params;
const {profile} = Astro.props;
const {Content} = await profile.render()

---

<MainProfilePageLayout>
   <div class="about-page">
    <figure>
        <Image src={profile.data.image} alt="image" format='avif' transition:name='img'/>
    </figure>
    <h1 class="text-2xl font-bold">{profile.data.name}</h1>
    <p class="desc">{profile.data.description}</p>
 
    <div class=info>
        <div class="prose">
         <Content />
        </div>

    </div>

   </div>
   
</MainProfilePageLayout>

<style>
    .about-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .desc {
        text-align: center;
        font-size: 1.2rem
    }
    figure {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
    }
    figure img {
        height: 100%;
        width: 100%;

    }
    .info {
    }
    .section {
        margin: 1rem;
    }
    ul {
        padding: 1rem 2rem;
        list-style: square;
    }
    li {
        margin-block-end: 0.5rem
    }
</style>
