---
import Image from 'astro/components/Image.astro';
import { getCollection } from 'astro:content';

const profiles = await getCollection('about');

---

<section id="about">
    <h2>Our Team</h2>
    <div class="content">
        {profiles.map(profile => (<div class="profile">
            <span class="degination">{profile.data.designation}</span>
            <figure><Image src={profile.data.image} alt="name" format='avif'/></figure>
            <h2>{profile.data.name}</h2>
            {profile.data.role.length > 0 && <ul class="role">
                {profile.data.role.map((role: string) => <li>{role}</li>)}
            </ul>}
            
            <p>{profile.data.description}</p>
            {profile.data.info.length > 0 &&  <a class="btn" href={profile.data.info}>Know More</a>}
           
        </div>))}
    </div>
</section>

<style>
    #about > h2 {
        margin: 2rem;
    }
    .content {
        display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
        
    }
   
    .profile {
    
        flex: 0 0 calc(33.33% - 2rem);
        position: relative;
        background-color: var( --card-color);
        padding: 0.8rem 0.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.2rem;
        border-radius: 0.6rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        transition: 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
    .profile:hover{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    figure {
        margin-top: 1.7rem;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    figure > * {
        width: 100%;
        height: 100%;
    }
    .role {
        list-style-type: square;
        text-align: start;
        font-size: 0.9rem;
        font-weight: bold;
    }
     p {
        font-size: 0.8rem;
     }
.degination {
    position: absolute;
    top: 0.7rem;
    right:0rem;
    font-size: 0.7rem;
    /* background-color: red; */
    padding: 0.36rem 0.7rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}
.btn {
    margin-top: 0.8rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.7rem;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .profile {
   
        flex: 0 0 calc(50% - 2rem);
 
        
    }
}
    @media only screen and (max-width: 600px) {
        .content {
       flex-direction: column;
    
    }
  .profile {
    width: 100%;
  }
}

</style>